<section class="bg-[#f7f8fc] py-16 px-4 text-center">
  <div class="max-w-4xl mx-auto flex items-start justify-between flex-row">
    <div class="flex-1">
      <h2 class="text-3xl font-[Volkhov] font-bold text-black">
        What people say <br />
        <span class="text-[#FA7436]">about Us.</span>
      </h2>
      <p class="font-[Poppins] text-[#666] text-[12px] text-left">
        Our Clients send us bunch of smilies with our services <br />
        and we love them.
      </p>
    </div>
    <div class="flex-1 relative">
      <div
        class="absolute top-6 left-6 bg-[rgba(102,102,102,0.8)] w-[400px] z-0"
      >
        <p class="text-[#222] text-[12px]">Chris Thomas</p>
        <p class="text-[#222] text-[12px]">-CEO of Red Button</p>
      </div>
      <div class="bg-white rounded-[10px] w-[400px] relative z-100">
        <div class="absolute top-[-50px]">
          <img
            src="../assets/Image (8).png"
            class="w-[68px] h-[68px] object-contain"
          />
        </div>
        <div class="p-4 flex flex-col items-start justify-start">
          <p class="text-[#444] text-[12px] leading-widest">
            “On the Windows talking painted pasture yet its <br />
            express parties use. Sure last upon he same as <br />knew next. Of
            believed or diverted no.”
          </p>
          <p class="text-[#222] text-[12px] mt-4 font-bold">Mike taylor</p>
          <p class="text-[#666] text-[12px] mt-2 font-semibold">
            Lahore,Pakistan
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
