<section class="bg-[#fff] flex items-center text-center flex-col">
  <div class="w-full max-w-4xl">
    <div class="flex items-center justify-center relative">
      <div>
        <h2 class="text-3xl font-bold text-gray-900 font-[Volkhov]">
          Best<span class="text-[#FA7436] pl-3">vacation plan</span>
        </h2>
        <p class="mt-4 text-[#666666]">
          Plan your perfect vacation with our travel agency. Choose <br />
          among hundreds of all-inclusive offers!
        </p>
      </div>
      <div class="absolute right-[10%]">
        <img
          src="../assets/Element (1).png"
          class="w-[104px] h-[81px] object-contain"
        />
      </div>
    </div>
    <div class="flex items-end justify-end mt-4">
      <img
        src="../assets/Slider-btn.png"
        class="w-[112px] h-[40px] object-contain"
      />
    </div>
    <div class="grid grid-cols-3 gap-4 items-center mt-10">
      <div class="bg-white shadow overflow-hidden w-[369px]">
        <div class="h-[327px]">
          <img
            src="../assets/Image (5).png"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <div class="bg-white shadow overflow-hidden w-[369px]">
        <div class="h-[327px]">
          <img
            src="../assets/Image (6).png"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <div class="bg-white shadow overflow-hidden w-[369px]">
        <div class="h-[327px]">
          <img
            src="../assets/Image (7).png"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
